/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  
  body {
    background-color: #101010;
    color: #fff;
  }
  
  /* Navbar Styling */
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 90px;
    background-color: #000;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .navbar .logo a {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin-left: 30px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #f50057;
  }
  .nav-links a:active{
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 25px;
    padding: 10px;
  }
  .active{
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 25px;
    padding: 10px;
  }

  /* Hero Section Styling */
.hero-section::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.hero-section {
  background-image: url('back2.jfif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 80px;
  position: relative;
  z-index: 2;
}
.hero-section .hero-content h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero-section .hero-content p {
  font-size: 18px;
  color: #ccc;
}

/*Start of about container*/
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  max-width: 1000px;
  margin: 0 auto;
}

.img-section img {
  width: 350px;
  height: auto;
  border-radius: 10px;
  margin-right: 50px;
}

.about-section {
  flex: 1;
  color: #ffffff;
}

.about-section h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-description {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: lighter;
}

.about-details p {
  font-size: 18px;
  margin: 10px 0;
}

.about-details p span {
  font-weight: bold;
  color: #f50057;
}

.project-status {
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.project-status span {
  font-size: 24px;
  color: #f50057;
}

.download-btn {
  padding: 10px 20px;
  background-color: #f50057;
  color: #000;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 24px;
  margin-top: 20px;
  color: #fff;
  transition: background-color 0.15s ease;
}

.download-btn:hover {
  background-color: #f82670;
  color: #fff;
}
/*End of about container*/

  /* Hire Us Section */
.hire-us {
  background-image: url('back1.jfif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  margin-left: 10%;
}
.hire-us::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.hire-content {
  color: #fff;
  text-align: center;
  z-index: 2;
}

.hire-content h3 {
  font-size: 18px;
}

.hire-content h1 {
  font-size: 42px;
  margin: 20px 0;
}

.getstarted-btn {
  padding: 15px 30px;
  background-color: #f50057;
  border: none;
  color: #fff;
  border-radius: 28px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.getstarted-btn:hover {
  background-color: #ff4081;
}
.getstarted-btn:active{
  opacity: 0.7;
}

/* Start of the footer*/
footer {
  background-color: #2a2a2a;
  color: #ffffff;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
}

.logo-section p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.social-icons a {
  margin: 0 7px;
  display: inline-block;
  color: #fff;
}

.quick-links h4, .contact-info h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.quick-links ul, .contact-info ul {
  list-style: none;
}

.quick-links ul li, .contact-info ul li {
  margin-bottom: 10px;
}

.quick-links ul li a, .contact-info ul li i {
  color: #ffffff;
  text-decoration: none;
}

.footer-bottom {
  background-color: #1a1a1a;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  border-top: 1px solid #333;
}

.footer-bottom p {
  margin: 0;
}

.footer-bottom a {
  color: #ffffff;
  text-decoration: none;
}
/*End of the footer*/